<a href="/">
    <button>Go back</button>
</a>

<h1>Events</h1>

<hr>

<h2>Choose:</h2>

<a href="/events/popular">
    <button>Popular Events</button>
</a>

<a href="/events/search/">
    <button>Search events</button>
</a>